html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 1rem;
    color: #111;
}

.container {
    max-width: 96vw;
    padding: 0 1rem;
    margin: 2rem auto;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1rem;
}

.accordion {
    margin: 1.5rem 0;
}

.accordion__item {
    border-top: 1px solid #ccc;
}

.accordion__input {
    display: none;
}

.accordion__label {
    display: block;
    cursor: pointer;
    padding: 1rem 0;
}

.accordion__heading {
    font-weight: 700;
    color: #005eff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__title {
    font-size: 1.125rem;
}

.accordion__icon {
    font-size: 2rem;
}

.accordion__icon::before {
    content: "+";
}

.accordion__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.accordion__input:checked ~ .accordion__label > .accordion__body {
    margin: 1rem 0 0.5rem;
    visibility: visible;
    opacity: 1;
    height: 100%;
    transition: all 0.3s;
}

.accordion__input:checked ~ .accordion__label .accordion__icon::before {
    content: "×";
}

.accordion__body img {
    max-width: 30vw;
}
